/*--------------------------------------------------------------
# Book a table
--------------------------------------------------------------*/
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-head {
  font-size: 20px;
  margin-top: 35px;
  font-weight: 700;
  color: #5f5950;
}
.book-head h1 {
  margin-bottom: 0;
}
.book-tag {
  width: 40%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.form-container {
  width: 85%;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 140px;
}

/*---------------
# Form
------------------*/
.form-main {
  padding: 30px;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
  width: 100%;
  background: #fff;
}
.row-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form input,
.form textarea {
  margin: 15px 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  font-size: 14px;
  padding: 7px 10px;
  font-family: inherit;
}
#name,
#email,
#phone,
#date,
#time,
#people {
  width: 100%;
  height: 35px;
}
#date {
  color: #212529 !important;
  background-color: #fff !important;
  font-size: 14px !important;
  padding: 7px 10px !important;
}

#message {
  width: 95%;
}
.submit {
  margin: 0 auto;
  width: 14%;
  margin-top: 12px;
}

.submit-btn {
  font-size: 16px;
  padding: 14px;
  width: 100%;
  text-align: center;
  background: #ffb03b;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: #fff;
}
/*---------------
# Modal
------------------*/
.modal {
  background-color: #0000007e;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  display: none;
}

.modal-container {
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  width: 30%;
  position: relative;
  top: 30%;
  margin: 0 auto;
}

.success {
  background-color: #47c9a2;
  height: 110px;
  font-size: 70px;
  color: #fff;
  font-weight: lighter;
  text-align: center;
}

.success i {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-content {
  text-align: center;
}

.modal-content h3 {
  font-size: 36px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  margin: 0;
}

.modal-btn {
  text-align: center;
  background-color: #ffb03b;
  color: #fff;
  margin: 30px auto;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}
