/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffb03b;
}

a:hover {
  color: #ffc56e;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  transition: all 0.5s;
  padding: 0;
  z-index: 20;
  /* background: rgba(26, 24, 22, 0.85); */
}
.navbar a:hover,
.navbar li:hover > a {
  color: #ffb03b;
}
.header h1 {
  font-size: 30px;
  line-height: 1px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #fff;
}

.header h1 a {
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.navbar li {
  margin-left: 12px;
}

.logo {
  margin-right: 200px;
}

.book-table {
  margin: 16px;
  background-color: #ffb03b;
  color: #fff;
  border-radius: 50px;
  font-size: 13px;
  padding: 10px 25px;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: nowrap;
}

.navbar li a {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
  color: #fff;
}
.book-table:hover {
  color: #fff !important;
}

#select {
  color: #ffb03b;
}
